body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFD700;
    text-align: center;
    padding: 20px 0;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #FFFFFF;
}

#characterDetails {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

.character-detail {
    margin: 10px 0;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

.character-detail-title {
    font-weight: bold;
    color: #FFD700;
}

.character-detail-value {
    color: #FFFFFF;
}

.character-image {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 50%;
}

.character-description {
    margin-top: 20px;
    text-align: center;
}
