body {
    background-color: #20232a; /* Dunkle Hintergrundfarbe, die dem Spielstil entspricht */
    font-family: 'Roboto', sans-serif; /* Eine Schriftart, die dem Spiel ähnlich ist */
    color: #ffffff; /* Weiße Textfarbe für Kontrast */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2f3136; /* Dunklerer Hintergrund für den Inhalt */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten für den Container */
}

h1 {
    color: #ffd700; /* Brawl Stars Gelb für Überschriften */
    text-align: center;
}

#guess_input {
    width: calc(100% - 20px); /* Breite des Eingabefelds */
    padding: 10px;
    margin: 10px auto; /* Zentrierte Ausrichtung */
    background-color: #7289da; /* Discord Blau für das Eingabefeld */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Weiße Textfarbe */
    text-align: center;
}

#button_check {
    display: block;
    width: calc(100% - 20px); /* Breite des Buttons */
    padding: 10px;
    margin: 10px auto; /* Zentrierte Ausrichtung */
    background-color: #43b581; /* Discord Grün für den Button */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Weiße Textfarbe */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button_check:hover {
    background-color: #4a5e37; /* Dunkleres Grün bei Hover */
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
