body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
h1 {
    margin: 0;
}
#player-image {
    max-width: 500px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
}
#player-name {
    font-size: 24px;
    margin-bottom: 10px;
}
#feedback {
    margin-top: 20px;
    font-weight: bold;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto;
}

/* Zellenstil */
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Alternierende Zeilenfarbe */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Überschriftsstil */
th {
    background-color: blue;
    color: white;
}
.green-background {
    background-color: green;
}
.red-background{
    background-color: red;
}
table{
    color: white;    
}
/* Stil für das Pop-up-Fenster */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 600px; /* Breite des Pop-up-Fensters */
    max-width: 90%; /* Maximale Breite des Pop-up-Fensters */
  }
  
  /* Stil für die Überschrift im Pop-up-Fenster */
  .popup h2 {
    font-size: 24px; /* Schriftgröße für die Überschrift */
    margin-bottom: 20px; /* Abstand unter der Überschrift */
  }
  
  /* Stil für den Text im Pop-up-Fenster */
  .popup p {
    font-size: 18px; /* Schriftgröße für den Text */
    margin-bottom: 20px; /* Abstand unter dem Text */
  }

  .formkit--arrowup {
    display: inline-block;
    width: 10.13px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 16'%3E%3Cpath fill='%23ff0000' d='M4.5 14c-.28 0-.5-.22-.5-.5v-9c0-.28.22-.5.5-.5s.5.22.5.5v9c0 .28-.22.5-.5.5'/%3E%3Cpath fill='%23ff0000' d='M8 7.5a.47.47 0 0 1-.35-.15L4.5 4.2L1.35 7.35c-.2.2-.51.2-.71 0s-.2-.51 0-.71l3.5-3.5c.2-.2.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71c-.1.1-.23.15-.35.15'/%3E%3C/svg%3E");
  }
  .formkit--arrowdown {
    display: inline-block;
    width: 10.13px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 16'%3E%3Cpath fill='%23ff0000' d='M4.5 13c-.28 0-.5-.22-.5-.5v-9c0-.28.22-.5.5-.5s.5.22.5.5v9c0 .28-.22.5-.5.5'/%3E%3Cpath fill='%23ff0000' d='M4.5 14a.47.47 0 0 1-.35-.15l-3.5-3.5c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.15 3.15l3.15-3.15c.2-.2.51-.2.71 0s.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z'/%3E%3C/svg%3E");
  }