body{
background-color: #2d274a;

}
.wrapper{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.imagehome img{
width: auto;
height: 500px;
}

h1, p{
color: white;
}

#lelek{
    width: 80%;
    padding-left: 10%;
}
/* Header styles */
header {
    background-color: #188491; /* Green background color */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center the content */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add space between list items */
}

nav ul li a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust font size */
}

nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}




