/* Reset für Standard-Stile */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Globale Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/htmlBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Navbar-Styling */
header {
  width: 100%;
  text-align: center;
  margin-bottom: 2%; /* Abstand zwischen Navbar und Quiz */
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

/* Quiz-Styling */
#divQuizSettings, #divQuestion, #divResults {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 2%;
  margin-top: 2%;
  background-color: rgba(138, 43, 226, 0.8);
  border: 5px solid rgb(113, 4, 215);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(186, 85, 211, 0.7),
              0 0 20px rgba(186, 85, 211, 0.7),
              0 0 30px rgba(186, 85, 211, 0.7),
              0 0 40px rgba(186, 85, 211, 0.7),
              0 0 70px rgba(0, 255, 255, 0.7),
              0 0 80px rgba(186, 85, 211, 0.7),
              0 0 100px rgba(186, 85, 211, 0.7),
              0 0 150px rgba(186, 85, 211, 0.7);
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
  margin-top: 0; /* Kein oberer Abstand für das Quiz */
}

/* Eingabefelder schmaler machen */
input[type="number"] {
  width: 50%; /* Anpassen der Breite nach Bedarf */
  text-align: center;
}

/* Hintergrundfarbe der Eingabefelder ändern */
button,
input,
select,
option {
  width: 50%;
  text-align: center;
  margin-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.7); /* Transparentes Schwarz */
  color: white;
  border: 10px solid rgba(0, 0, 0, 0.7); /* Transparentes Schwarz */
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

/* Hover-Effekte anpassen */
button:hover,
select:hover,
input:hover,
option:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Dunkleres Transparentes Schwarz */
  border: 10px solid rgba(0, 0, 0, 0.9); /* Dunkleres Transparentes Schwarz */
}

/* Feedback-Text */
#pFeedback {
  font-size: 1em;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: rgb(113, 4, 215);
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px #BA55D3, 0 0 20px #BA55D3, 0 0 30px #BA55D3, 0 0 40px #BA55D3, 0 0 70px #0ff, 0 0 80px #BA55D3, 0 0 100px #BA55D3, 0 0 150px #BA55D3;
}
